<a href="https://colab.research.google.com/github/satyaabdul/Introduction-to-Python/blob/master/2_Variable_and_Multiple_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#memasukan data string ke variabel menggunakan tanda petik "..."  
nama = "Satya"

#untuk menampilkannya cukup ketik nama variabel
nama

'Satya'

In [4]:
#memasukan nilai integer tidak perlu menggunakan tanda petik
umur = 25

#untuk menampilkannya cukup ketik nama variabel
umur

25

In [0]:
#kita bisa memasukan nilai yang berbeda dalam berberapa variable secara bersamaan
nama1,nama2,nama3 = "Abdul","Halim","Bahtiar"

In [12]:
#variable 1
nama1

'Abdul'

In [15]:
#variable 2
nama2

'Halim'

In [14]:
#variable 3
nama3

'Bahtiar'

In [0]:
# jika nilai dalam berberapa variable sama bisa dimasukan dengancara seperti ini

umur1 = umur2 = umur3 = 24

In [20]:
#variable 1
umur1

24

In [21]:
#variable 2
umur2

24

In [22]:
#variable 3
umur3

24

In [16]:
#variable yang dipanggil dalam baris yang berbeda hanya variable terakhir yang muncul

nama1
nama2

'Halim'

In [17]:
#memanggil variable lebih dari satu dilakuakn dalam satu baris dan dipisahkan koma

nama, nama1

('Satya', 'Abdul')

In [30]:
#print varibael
#gunakan huruf 'f' di depan tanda petik untuk memasukan variable dalam perintah print
#nama variable diletakkan dalam tanda {nama_varible}

print(f"Nama saya {nama}, umur saya {umur} tahun" )

Nama saya Satya, umur saya 25 tahun